<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 

	<display-name>Insight Dashboard</display-name>
	
	<listener>
		<listener-class>com.springsource.insight.classpath.InsightClassPathMunger</listener-class>
	</listener>
	
	<!-- Spring Application Context -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/config/app-config-tomcat.xml</param-value>
	</context-param>
	
	<!-- Gzip -->
	<filter>
		<filter-name>gzip</filter-name>
		<filter-class>org.mortbay.servlet.GzipFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>gzip</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

    <!-- Hidden HTTP methods -->
    <filter>
        <filter-name>hiddenMethod</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>hiddenMethod</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- Spring Security -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>com.springsource.insight.dashboard.util.OptionalDelegatingFilterProxy</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
    </filter-mapping>
 
    <!-- Default the request to UTF-8 -->
    <filter>
    	<filter-name>CharacterEncodingFilter</filter-name>
    	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    	<init-param>
    		<param-name>encoding</param-name>
    		<param-value>UTF-8</param-value>
    	</init-param>
    </filter>
 
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
 
    <!-- Handles all requests into the application -->
    <servlet>
        <servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/config/mvc-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <!-- Define several of the JSPs as servlets to be initialized at startup so that
         browsing to a page hits JSPs which have already been compiled -->
    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.layout.errors_jsp</servlet-name>
        <jsp-file>/WEB-INF/layout/errors.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.layout.footer_jsp</servlet-name>
        <jsp-file>/WEB-INF/layout/footer.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.layout.header_jsp</servlet-name>
        <jsp-file>/WEB-INF/layout/header.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.layout.layout_jsp</servlet-name>
        <jsp-file>/WEB-INF/layout/layout.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.layout.noscript_jsp</servlet-name>
        <jsp-file>/WEB-INF/layout/noscript.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.layout.null_jsp</servlet-name>
        <jsp-file>/WEB-INF/layout/null.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.errors.error_body_jsp</servlet-name>
        <jsp-file>/WEB-INF/errors/error.body.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.errors.error_jsp</servlet-name>
        <jsp-file>/WEB-INF/errors/error.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.traces.operation_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/traces/operation.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.traces.operation_method_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/traces/operation.method.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.traces.operation_simple_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/traces/operation.simple.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.traces.trace_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/traces/trace.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.traces.traces_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/traces/traces.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.traces.window_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/traces/window.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.resources.list_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/resources/list.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.resources.resource_002dcombochart_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/resources/resource-combochart.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.resources.resource_002dhealthlegend_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/resources/resource-healthlegend.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.resources.resource_002dhealthtrend_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/resources/resource-healthtrend.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.resources.resource_002dhistogram_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/resources/resource-histogram.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.resources.resource_002dproperties_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/resources/resource-properties.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.resources.resource_002dresponsetime_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/resources/resource-responsetime.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.resources.resource_002dstackchart_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/resources/resource-stackchart.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.resources.resource_002dthroughputtrend_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/resources/resource-throughputtrend.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.resources.resource_002dvitals_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/resources/resource-vitals.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.resources.resource_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/resources/resource.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.resources.traces_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/resources/traces.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.resources.tree_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/resources/tree.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.home.config_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/home/config.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.home.login_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/home/login.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.home.resources_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/home/resources.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.controllers.home.traces_jsp</servlet-name>
        <jsp-file>/WEB-INF/controllers/home/traces.jsp</jsp-file>
        <load-on-startup>0</load-on-startup>
    </servlet>


    <!-- Maps all /app requests to the DispatcherServlet for handling -->
    <servlet-mapping>
        <servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <!-- Define the tld location for custom taglibs -->
    <jsp-config>
        <taglib>
            <taglib-uri>http://static.springsource.com/tags/insight</taglib-uri>
            <taglib-location>/WEB-INF/insight.tld</taglib-location>
        </taglib>
    </jsp-config>
	
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/errors/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/errors/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/errors/error.jsp</location>
	</error-page>
	
	<mime-mapping>
		<extension>ico</extension>
		<mime-type>image/vnd.microsoft.icon</mime-type>
	</mime-mapping>
 
</web-app>
