
html,body{	
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	background-color: #FFFFFF;
}
article {
	position: absolute;
	left: 380px;
	right: 0;
	top: 70px;
	bottom: 20px;
	overflow: hidden;
}
aside {
	position: absolute;
	top: 70px;
	bottom: 20px;
	left: 0;
	width: 380px;
	overflow: hidden;
	background-color: #FFFFFF;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 20px;
	background-color: #ccc;
}
ul{
	margin:0;
	padding:0;
}
li{
	list-style: none outside none;
	outline: 0 none;
	margin:0;
	padding:0;
}

a:active {
color: black;
}
a{
	color: black;
}

/* HEADER */
.field{
	border:1px solid blue;
	margin-top:0px;
}
header li{
	display: inline-block;
}

#searchForm  i {
	position:absolute;
	left:515px;
	top:50px;
	background-image: url(search.png);
	width: 14px;
	height: 14px;
	display: block;
	font-size: 0;
}
#search {
	
	height:15px;
	width: 180px;
	z-index:999;
	border: 1px solid #666;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font: 13px Arial,sans-serif;	
	
	padding: 6px 25px 4px 6px;
	
	background: #666;
	-webkit-box-shadow: 0 1px 0 #444;
	-moz-box-shadow: 0 1px 0 #444;
	/*box-shadow: 0 1px 0 #444;*/
}
#search:FOCUS {
	background: #fff;
}


#infoAddress{
	cursor: pointer;
    display: inline;
    float: left;
    margin: 5px 0 0 8px;
    padding: 0 12px 0 0;
    position: relative;
}
.mapitem{
	background: none no-repeat scroll 0 0 transparent;
    padding: 0 0 22px 30px;
    white-space: nowrap;
    height:100px;
}

.mapitem0{ background-image: url("http://localhost:8090/MyPlace/resources/openapi/marker/A.png")	}
.mapitem1{ background-image: url("http://localhost:8090/MyPlace/resources/openapi/marker/B.png")	}
.mapitem2{ background-image: url("http://localhost:8090/MyPlace/resources/openapi/marker/C.png")	}
.mapitem3{ background-image: url("http://localhost:8090/MyPlace/resources/openapi/marker/D.png")	}
.mapitem4{ background-image: url("http://localhost:8090/MyPlace/resources/openapi/marker/E.png")	}
.mapitem5{ background-image: url("http://localhost:8090/MyPlace/resources/openapi/marker/F.png")	}
.mapitem6{ background-image: url("http://localhost:8090/MyPlace/resources/openapi/marker/G.png")	}
.mapitem7{ background-image: url("http://localhost:8090/MyPlace/resources/openapi/marker/H.png")	}
.mapitem8{ background-image: url("http://localhost:8090/MyPlace/resources/openapi/marker/I.png")	}
.mapitem9{ background-image: url("http://localhost:8090/MyPlace/resources/openapi/marker/J.png")	}
.mapitem10{ background-image: url("http://localhost:8090/MyPlace/resources/openapi/marker/K.png")	}
.mapitem11{ background-image: url("http://localhost:8090/MyPlace/resources/openapi/marker/L.png")	}


/*.mapitem0{ background-image: url("http://i1.daumcdn.net/localimg/localimages/07/2009/map/icon/ico_mn_1_s.gif")	}
.mapitem1{ background-image: url("http://i1.daumcdn.net/localimg/localimages/07/2009/map/icon/ico_mn_2_s.gif")  }
.mapitem2{ background-image: url("http://i1.daumcdn.net/localimg/localimages/07/2009/map/icon/ico_mn_3_s.gif")	}
.mapitem3{ background-image: url("http://i1.daumcdn.net/localimg/localimages/07/2009/map/icon/ico_mn_4_s.gif")	}
.mapitem4{ background-image: url("http://i1.daumcdn.net/localimg/localimages/07/2009/map/icon/ico_mn_5_s.gif")	}
.mapitem5{ background-image: url("http://i1.daumcdn.net/localimg/localimages/07/2009/map/icon/ico_mn_6_s.gif")	}
.mapitem6{ background-image: url("http://i1.daumcdn.net/localimg/localimages/07/2009/map/icon/ico_mn_7_s.gif")	}
.mapitem7{ background-image: url("http://i1.daumcdn.net/localimg/localimages/07/2009/map/icon/ico_mn_8_s.gif")	}
.mapitem8{ background-image: url("http://i1.daumcdn.net/localimg/localimages/07/2009/map/icon/ico_mn_9_s.gif")	}
.mapitem9{ background-image: url("http://i1.daumcdn.net/localimg/localimages/07/2009/map/icon/ico_mn_10_s.gif")	}
.mapitem10{ background-image: url("http://i1.daumcdn.net/localimg/localimages/07/2009/map/icon/ico_mn_11_s.gif")}
*/


/*
*
*/


.polaroid{        /* 테두리 생성 */
      
    padding:5px 5px 5px 5px;
    border: 1px solid #bfbfbf;
    background-color:#fff;
    -webkit-box-shadow: 2px 2px 3px rgba(135,139,144,0.4);
    -moz-box-shadow: 2px 2px 3px rgba(135.139.144,0.4);
    box-shadow: 2px 2px 3px rgba(135.139.133.0.4);
}

.caption {   /* 이미지 캡션 지정 */
    text-align:center;
    font-family:"바탕";
    font-weight:600;
    font-size:16px;
    color:#060;	
}


/*infoWindow 마커 상세정보*/
.infoWindow{
	padding: 20px 13px 10px 20px;
}
.infoWindow img{
	float:left;border: 1px solid #E2E2E2;width:84px; heigth:76px;
}
.infoWindow .title{
	min-width: 100px;margin: 0 0 7px 98px;
}	
.infoWindow p{
	font: 12px/1.5 AppleGothic,'굴림',Gulim,sans-serif;margin: 0 0 0 98px;overflow: hidden;color: #0F7833;line-height: 1.4em;	
}
	
.infoWindow .close{
	position: absolute;
	right: 5px;
	top: 5px;
	width: 15px;
	height: 15px;
	background: no-repeat 0 -33px url(http://static.ak.fbcdn.net/rsrc.php/v1/yA/r/4WSewcWboV8.png);
}


.franchiser .fname{
	color: orange;
	font-weight: bold;
	
}
.franchiser .mapview{
	cursor: pointer;
}
	
	
	
