.promptumenu_nav{
	z-index: 5;
	position: absolute;
	top:0px;
	left: 50%;
	margin-right: -50%;
}
.promptumenu_window{
	cursor: url(hand.ico), move;
	margin: 0px 0px 0px 10px;
	position: relative;
}
.promptumenu_nav a{
	cursor: pointer;
	width: 15px;
	height: 15px;
	text-indent: -9999px;
	outline: none;
	background: url(pagelink.png) 0 -20px no-repeat;
	display: block;
	float: left;
	position: relative;
	left: -50%;
	margin: 0 2px;
	margin-top: 10px;
}
.promptumenu_nav a.active{
	background: url(pagelink.png) 0 0 no-repeat;
}
