
.container{

}
body {
	background-color: white;
	overflow: hidden;
	
}
#header{
	position: absolute;
	left:0;
	right:0;
	border:1px solid red;
	height: 67px;
	
}
#logo{
	float: left;
	padding:12px 0px 0px 20px;
	margin:12px 40px 0px 0px;border:1px solid blue;
}
#menuBox{
width: 108px;
height: 24px;
position: absolute;
top: 21px;
right: 160px;
}
#searchBox{
	position: absolute;
top: 21px;
right: 10px;
	
}
#header #search{
	
	display: block;
	top:10px;
	left: 20px;
	
	width: 180px;
	height: 28px;
	padding: 0 10px 0 32px; 
	background: url(/resources/images/icon/search_icon.png) white 10px center no-repeat;
	color: #202020;
	outline: 0;
	font-size: 16px;
	font-weight: 600;
	border: 1px solid silver;
	border-radius: 3px;
}

#myPlace{
	position: absolute;
	width:100px;
top: 67px;
bottom: 56px;
left: 0;
overflow-x: hidden;
overflow-y: scroll;
border-right: 1px solid #101010;
background: #282828;
z-index:9999;
}
#myPlace .menu{
	position: absolute;
top: 0;
left: 228px;
width: 228px;
margin: 0;
}


.tileContainer{
	position: absolute;
	top: 67px;
	
	left:0;
	bottom: 0;
	right: 0;
	padding:0px 0px 0px 10px;
	border:0px solid red;
}
.showMenu{
	margin-left:200px;
}
.grid {
	border:0px solid blue;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    background-color:white;
   
}

.grid > div {
    background-color: #fff;
    position: absolute;
    cursor: pointer;
}
.place-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #282828;
}
.place-title{
position: absolute;
left: 0;
right: 0;
bottom: 0;
height: 60px;
background: rgba(0, 0, 0, 0.7);
padding: 5px;
color:white;
}
.jqmWindow {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 500;
}

.jqmOverlay { background-color: #000; }
.placeContainer{

	background-color: #EEE;
	border: 1px solid red;
	position: relative;
	width: 100%;
	margin: 0 auto;
	max-width: 500px;
	padding: 35px 15px;
	overflow: hidden;
}
#placeView{
	
width: 100%;
height: 100%;
background: white;
border: 0;
z-index: 2;

}