.classic li {
	background-image: url("/resources/images/stamp/tile/129.png")
}
.modern li {
	background-image: url("/resources/images/stamp/tile/1707.png")
}
.pretty li {
	background-image: url("/resources/images/stamp/tile/1676.png")
}
.lovely li {
	background-image: url("/resources/images/stamp/tile/1628.png")
}

.stamp {
	border-radius: 4px;
	padding-left: 5px;
}

.stamps ul {
	width: 220px;
	display: inline-block;
}

.stamps li {
	width: 35px;
	height: 35px;
	border: 1px solid black;
	text-align: center;
	margin: 3px;
	line-height: 35px;
	list-style: none;
	display: inline-block;
	border-radius: 4px;
}
/*유효기간 */
.ableDate {
	border: 0px solid blue;
	padding: 5px;
}
/*제목 */
.stampTitle {
	border: 0px solid blue;
	padding: 5px;
}
/*테두리 */
.stampBoard {
	margin: 10px;
}

.Stampped {
	background-color: aqua;
}

.StampedEventday {
	background-color: green;
	cursor: pointer;
}

.Eventday {
	background-color: olive;
}
/*
.modern ul{
	border:1px solid red;
	width:460px;
	display: inline-block;
}

.modern li{
	width:35px;
	height:35px;
	border:1px solid black;
	text-align: center;
	margin:3px;
	line-height:35px;
	list-style: none;
	display: inline-block;
	border-radius: 4px;
}*/