/*스탬프 공통*/

/*유효기간*/
.ableDate{
	border:0px solid blue;
	padding:5px;
}
/*스탬프제목*/
.stampTitle{
	border:0px solid blue;
	padding:5px;
}

/*스탬프테두리*/
.classic {
	border:1px solid blue;
	border-radius: 5px;
	margin-top:10px;
}

.classic ul{
	border:0px solid blue;
	width:460px;
	display: inline-block;
	padding:3px;
}

.classic li{
	width:35px;
	height:35px;
	border:1px solid black;
	text-align: center;
	margin:3px;
	line-height:35px;
	list-style: none;
	display: inline-block;
	border-radius: 4px;
}
.stampBoard{
	margin:10px;
}
.Stampped{
	background-color: aqua;
}
.StampedEventday{
	background-color: green;
	cursor: pointer;
}
.Eventday{
	background-color: olive;
}
.modern ul{
	border:1px solid red;
	width:460px;
	display: inline-block;
}

.modern li{
	width:35px;
	height:35px;
	border:1px solid black;
	text-align: center;
	margin:3px;
	line-height:35px;
	list-style: none;
	display: inline-block;
	border-radius: 4px;
}